@charset "utf-8";

@media (max-width: 1040px) {
	.aly_topbar .mainpart{background-color: #020312;}
	.aly_topbar .menu{display: none;}
	.aly_topbar .trigger{display: block;}
	.aly_hero_wrap .hero_texts h3{font-size: 55px;}
	.aly_about_wrap .about_inner{flex-direction: column;}
	.aly_about_wrap .about_inner .leftpart{display: none;}
	.aly_about_wrap .about_inner .rightpart{width: 100%;}
	.aly_services_wrap .service_list ul li{width: 50%;}
	.aly_portfolio .portfolio_list ul li{width: 50%;}
	.aly_resume .resume_list ul li{width: 50%;}
	.aly_skills_wrap .skills_inner{flex-direction: column;}
	.aly_skills_wrap .skills_inner .left{padding-right: 0px;width: 100%;margin-bottom: 30px;}
	.aly_skills_wrap .skills_inner .right{padding-left: 0px;width: 100%;}
	.aly_team .team_list ul li{width: 50%;}
	.aly_pricing .pricing_list > ul > li{width: 50%;}
	.aly_news .news_list ul li{width: 50%;}
	.aly_contact .contact_inner{flex-direction: column;}
	.aly_contact .contact_inner .left{width: 100%;margin-bottom: 30px;}
	.aly_contact .contact_inner .right{width: 100%;}
	.aly_footer .footer_inner{flex-direction: column;}
	.aly_footer .footer_inner .left{margin-bottom: 10px;}
	.aly_intro_inner{padding-left: 20px;padding-right: 20px;}
	.aly_intro_inner > ul > li{width: 50%;}
	.aly_intro_inner .features ul li{width: 50%;}
}
@media (max-width: 768px) {
	.aly_hero_wrap .hero_texts h3{font-size: 50px;}
	.aly_about_wrap .about_inner .rightpart .info_list ul li{width: 100%;}
	.aly_services_wrap .service_list ul{margin-left: 0px;}
	.aly_portfolio .portfolio_list ul{margin-left: 0px;}
	.aly_portfolio .portfolio_list ul li{width: 100%;padding-left: 0px;}
	.aly_services_wrap .service_list ul li{width: 100%;padding-left: 0px;}
	.aly_about_wrap .about_inner .rightpart .about_title h3{font-size: 30px;}
	.aly_title_holder h3{font-size: 30px;}
	.aly_resume .resume_list ul li{width: 100%;padding-left: 0px;}
	.aly_resume .resume_list ul{margin-left: 0px;}
	.aly_skills_wrap .skills_inner .left h3{font-size: 30px;}
	.aly_team .team_list ul li{width: 100%;padding-left: 0px;}
	.aly_team .team_list ul{margin-left: 0px;}
	.aly_pricing .pricing_list > ul > li{width: 100%;padding-left: 0px;}
	.aly_pricing .pricing_list > ul{margin-left: 0px;}
	.aly_news .news_list ul li{width: 100%;padding-left: 0px;}
	.aly_news .news_list ul{margin-left: 0px;}
	.aly_contact .contact_inner .right .first_row ul li{width: 100%;padding-left: 0px;}
	.aly_contact .contact_inner .right .first_row ul{margin-left: 0px;}
	.aly_intro_inner > ul > li{width: 100%;padding-left: 0px;}
	.aly_intro_inner > ul{margin-left: 0px;}
	.aly_intro_inner .features ul li{width: 100%;padding-left: 0px;}
	.aly_intro_inner .features ul{margin-left: 0px;}
}
@media (max-width: 480px) {
	.aly_hero_wrap .hero_texts h3{font-size: 45px;}
}